.input-wrapper{
    display: flex;
    flex-direction: column;
    
}
.button{
    padding: 20px;
    margin-left: 100px;
    width: 300px;
    margin-bottom: 50px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(0, 255, 64);
    font-size: 20px;
    color: blue;
}
.button:hover{
  opacity: 0.7;
}
.wrapper-upper{
    border-bottom: 1px solid black;
}
.wrapper{
    border-bottom: 1px solid black;
    
}
.question-text{
    color: rgb(19, 116, 19);
}
.answer-text{
    color: brown;
}
.answer-text b{
    color: rgb(101, 63, 163);
}
.wrapper-upper span{
    color: red;
    font-size: 17px;
    font-weight: 600;
}